@charset "UTF-8";

.statsPane,
.mainPane,
.basePane,
.debugPane,
.interactionPane,
.mapPane {
    position:relative;
    display:block;
    color:black;
    background:rgba(255,255,255,0.4);
    border:1px solid black;
    box-shadow:inset 0px 0px 8px rgba(0,0,0,0.5);
    padding:10px;
    z-index:0;
}

.statsPane {
    float:right;
    width:calc(25% - 28px);
    height:calc(100% - 22px);
}

.statsPane .stats,
.statsPane .inv {
    position:absolute;
    left:0;
    margin:10px;
    width:calc(100% - 20px);
    overflow-x:hidden;
    overflow-y:auto;
}

.statsPane .stats {
    top:0;
    height:283px;
}

.statsPane .inv {
    bottom:0;
    height:calc(100% - 323px);
}

.progBarContainer {
	background-image:linear-gradient(#e6e6e6, #dbdbdb);
	border-radius:10px;	
	height:15px;
	overflow:hidden;
    margin-bottom:5px;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
}

.progressbar {
	height:100%;
	float:left;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.gradient .blue {
	background-image:linear-gradient(#06f, #0cf);
}

.gradient .purple {
	background-image:linear-gradient(#9e0daa, #f500ff);
}

.gradient .yellow{
	background-image:linear-gradient(#fc6, #ff6);
}

.gradient .green {
	background-image:linear-gradient(#06a300, #00ed37);
}

.statsPane .slot {
    display:block;
    line-height:1;
    padding:5px;
    margin:5px;
    color:black;
    background:white;
    border:1px solid black;
    text-decoration:none;
}

.statsPane .slot.locked {
    color:#888;
    background:#333;
    pointer-events:none;
    text-align:center;
}

.statsPane .slot.dropOff {
    pointer-events:none;
}

.statsPane .drop {
    background:rgba(0,0,0,0.4);
    box-shadow:inset 0 0 75px rgba(0,0,0,0.2);
    color:white;
    position:relative;
    top:-5px;
    left:12px;
    width:calc(100% - 24px);
    transition:height 0.3s, font-size 0.3s;
    overflow:hidden;
}

.statsPane .drop span {
    display:block;
    margin:5px 0 5px 10px;
}

.mainPane,
.basePane,
.debugPane {
    float:left;
    width:calc(75% - 28px);
    height:calc(70% - 26px);
    margin-bottom:12px;
    overflow-x:hidden;
    overflow-y:auto;
}

.basePane .spec {
    float:left;
    width:205px;
    margin:0 10px;
}

.basePane .spec.locked {
    pointer-events:none;
}

.basePane .spec a {
    position:relative;
    float:left;
    line-height:2.75;
    padding:2px 5px;
    color:#2694d8;
    background:transparent;
    text-decoration:none;
    width:200px;
    text-align:center;
}

.basePane .spec a:before, .basePane .spec a:after {
    width:200px;
    left:0px;
	height:19.5px;
    border:3px solid #2694d8;
    z-index:-1;
}

.basePane .spec a:before {
    position:absolute;
    content:'';
    border-bottom:none;
    transform:perspective(15px) rotateX(5deg);  
}

.basePane .spec a:after {
    position:absolute;
    content:'';
    border-top:none;
    transform:perspective(15px) rotateX(-5deg);
    top:25px;
}

.basePane .spec a:hover,
.basePane .spec a.active {
    color:#fff;
}

.basePane .spec a:hover:before,
.basePane .spec a:hover:after,
.basePane .spec a.active:before,
.basePane .spec a.active:after {
    background:#2694d8;
}

.interactionPane {
    float:left;
    width:calc(50% - 28px);
    height:calc(30% - 30px);
}

.interactionPane a.debug {
    background:transparent url("../assets/images/bug.png") repeat left top;
    background-size:cover;
    height:16px;
    width:16px;
    float:right;
}

.mapPane {
    float:left;
    width:calc(25% - 14px);
    height:calc(30% - 10px);
    margin-right:12px;
    padding:0;
    background:black;
}

.mapPane .cell {
    display:block;
    float:left;
    height:calc(20% - 10px);
    width:calc(20% - 10px);
    margin:1px;
    border:4px solid white;
}